.idea/*
.idea
## Development Folder
package-lock.json
payload.json
/DeployDistribution/
/LocalDistribution/
DeployDistribution/**/*
LocalDistribution/**/*
node_modules/
npm-debug.log
.idea/
#payload.json


#payload.json


#tmp/
#Workspace/Extras/

#Extensions/.nsdeploy
#Extensions/package-lock.json
#Extensions/payload.json
#Extensions/DeployDistribution/
#Extensions/LocalDistribution/
#Extensions/node_modules/
#Extensions/npm-debug.log
#Extensions/.idea/
#Extensions/tmp/
#Extensions/Workspace/Extras/

